<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>uTests</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DbServlet</display-name>
    <servlet-name>DbServlet</servlet-name>
    <servlet-class>com.uTests.db.DbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbServlet</servlet-name>
    <url-pattern>/DbServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EjbServlet</display-name>
    <servlet-name>EjbServlet</servlet-name>
    <servlet-class>com.uTests.ejb.EjbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EjbServlet</servlet-name>
    <url-pattern>/EjbServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JmsServlet</display-name>
    <servlet-name>JmsServlet</servlet-name>
    <servlet-class>com.uTests.jms.JmsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JmsServlet</servlet-name>
    <url-pattern>/JmsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebServlet</display-name>
    <servlet-name>WebServlet</servlet-name>
    <servlet-class>com.uTests.web.WebServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebServlet</servlet-name>
    <url-pattern>/WebServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WsServlet</display-name>
    <servlet-name>WsServlet</servlet-name>
    <servlet-class>com.uTests.ws.WsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WsServlet</servlet-name>
    <url-pattern>/WsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gservlet</display-name>
    <servlet-name>Gservlet</servlet-name>
    <servlet-class>com.uTests.general.Gservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gservlet</servlet-name>
    <url-pattern>/Gservlet</url-pattern>
  </servlet-mapping>
</web-app>